.header {
    display: flex;
    background-color: #080e2c;
    color: white;
    padding: 30px 20px;
    align-items: center;
}
.header h1 {
    font-family: 'bold';
    margin: 0;

}
.header > img {
    width: 48px;
    border-radius: 50%;
    margin: 0 10px 0 auto;
    border: 4px solid #2d55ff ;
} 
.header span {
    font-family: 'bold';
    margin-right: 30px;
    font-size: 120%;
}
.header a img {
    filter: invert(100%);
}