@font-face {
    font-family: 'bold';
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
body{
    margin: 0;
}

#welcome-title{
    text-align: center;
    font-family: 'bold';
}